.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
}
.nav-pills .nav-link {
    float: left;
    margin-left: 0;
}
.nav-pills.outline-active .nav-link.active {
    background: #fff!important;
    border-bottom: 2px solid #5cb85c!important;
    color: #5cb85c!important;
}
.nav-link {
    /* width: 15%; */
    border-radius: 0;
    border: none;
    padding-left: 0;
    margin-left: 0.5rem
}
.nav-link.active  {
    cursor: default;
}
/* .nav-item {
    width: 210px;
} */
