body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom css */

/* general */

.container-sm {
  width: 50%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

/* header part */

.brand {
  text-decoration: none;
}

h1 { 
  font-weight: 700;
  color: green;
}

.nav-menu {
  width: 40%;
}

.nav-item {
  width: 100%;
  font-size: 1.2rem;
  margin-left: 1.5rem;
 
  list-style: none;
}
.nav-item :hover {
  color: green;
}
.nav-item a {
  color: grey;
  text-decoration: none;
}
.active {
  color: green;
}

/* signup */

.form {
  width: 50%;
  margin: 2rem auto;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;margin-bottom: 2rem;
}

.form-control-lg {
  padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-lg, .btn-group-lg>.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn {
  line-height: 1.25;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.pull-xs-right {
  float: right!important;
}


/* login page */

.page {
  align-items: center;
}

a{
  text-decoration: none;
}
.login-link {
  color: green;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: black;
}
main {
  margin: 2rem auto;
}
.banner {
  width: 100%;
  background-color: #5cb85c;
  text-align: center;
}

.banner-box {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.5rem;
  color: white;
}

h3 {
  font-size: 2.3rem;
  color: white;
}
.section {
  width: 70%;
}
.error {
  color: red;
  text-align: center;
}
input[type="submit"]:disabled {
  background: #dddddd;
}