.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
/* .page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
} */


.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #5cb85c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
li {
    list-style: none;
   
}
.page-box :hover {
    background-color: #5cb85c;
    color: white;
}
.active-page {
    background-color:#5cb85c;
    color: white;
}
.prev {
    cursor: pointer;
    text-decoration: underline;
}
ul {
    align-items: center;
    justify-content: center;
}